
@{
    ViewBag.Title = "管理员登录";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/login.css")" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" />

</head>
<body>
    <h1>化学教育平台</h1>
    <div class="app-location">
        <h2>登             录</h2>
        <div class="line"><span></span></div>
        <div class="location"><img src="@Url.Content("~/Content/images/location.png")" class="img-responsive" alt="" /></div>
        <form action="../Manage/ManageIndex" method="post">
            <input type="text" class="text" name="ID" placeholder="管理员账号">
            <input type="password" name="password" placeholder="密码">
            <div class="submit"><input type="submit" value="登录"></div>
            <div class="clear"></div>
            <div class="new">
                <h3><a href="Login">普通用户登录</a></h3>
                <div class="clear"></div>
            </div>
        </form>
    </div>

</body>
</html>